/*Basic class revisions*/
body {
  background-color: #white;
}
/*Navigation Bar Section*/
.jumbotron {
  padding: 4rem;
  margin: .4rem;
  background-color: #b3b3b3;
  border-radius: .3rem;
  opacity: 80%;

}
.jumbotron h1 {
  text-align: center;
  color: #0099ff;
  font-size: 4em;
}
.jumbotron ul li a{
  display:block;
  text-decoration:none;
  padding: 0px .5em;
  color:white;
}
.jumbotron ul li a:hover{
  color:red;
}

.contact-header {
  position: relative;
  float:right;

}
.contact-header ul li {
  float: left;
  list-style: none;
}
.contact-header ul li a {
  color: #4db8ff;
}
.navbar {
  position: relative;
  float:center;
  background-color:default;
  border-radius: .3rem;
  height: 2rem;
  padding-top: 1.2rem;
  margin: 0;
}
.navbar ul li {
  float: left;
  list-style: none;
  font-size: 18px;
}
.navbar ul li a {
  padding: 0px 5em;
  color: white;
}
/*image formatting for about.html pictures*/
.col-md-12 img {
  position: relative;
  float:right;
  background-color:default;
  height: 9em;
  border-radius: 10rem;
}
/*education.html resume section*/
.resume-top h2 {
  text-align:center;
}
.resume-top {
  text-align:center;
}
.resume-body ul{
  margin:0;
  padding:0;
}
/*project.html Section*/
.project > .panel-heading{
  background-color:#4db8ff
}
.col-md-12 h3 {
  text-align: center;
}
.project img {
  position: relative;
  float:left;
  height:9em;
  border-radius: 1rem;
}

.col-md-12 h3
/*Footer Section */
.footer {
  text-align: center;
}
/*Misc Functions Used for Spacing &/or Coloring for spans*/
.big-underline {
  font-style: bold;
  text-decoration: underline;
}
.keep-spaces {
  white-space:pre-wrap;
}
.white-text {
  color: white;
}
