body {
  background-color: #white;
}
.col-md-12 h2 {
  margin 0;
  text-align: left;
  padding 10px 0;
  color:black;
}
.jumbotron {
  padding: 4rem;
  margin: .4rem;
  background-color: #b3b3b3;
  border-radius: .3rem;
  opacity: 80%;

}
.jumbotron h1 {
  text-align: center;
  color: #0099ff;
  font-size: 4em;
}
.white-text {
  color: white;
}
.jumbotron ul li a{
  display:block;
  text-decoration:none;
  padding: 0px .5em;
  color:white;
}
.jumbotron ul li a:hover{
  color:red;
}

.contact-header {
  position: relative;
  float:right;

}
.contact-header ul li {
  float: left;
  list-style: none;
}
.contact-header ul li a {
  color: #4db8ff;
}
.navbar {
  position: relative;
  float:center;
  background-color:default;
  border-radius: .3rem;
  height: 2rem;
  padding-top: 1.2rem;
  margin: 0;
}
.navbar ul li {
  float: left;
  list-style: none;
  font-size: 18px;
}
.navbar ul li a {
  padding: 0px 5em;
  color: white;
}
.footer {
  text-align: center;

}
